.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home p {
    text-align: left;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 1em;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    padding: 1em;
}

.logo {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    max-width: 50%;
}

.about p {
    width: 95%;
}

.services {
    background-color: lightgrey;
    width: 100%;
}

.box {
    background-color: white;
    padding: 1em;
    margin: 1em;
    width: 170px;
}
/* Media Queries */
@media (max-width: 600px) {

   .row {
       flex-direction: column;
   }

   .about {
       max-width: 90%;
   }

   .box {
       width: 200px;
   }
   .header {
       margin-left: 10px;
   }
}

@media (min-width: 1200px) {
    .about p {
        font-size: 20px;
    }

    .about h3 {
        font-size: 36px;
    }

    .logo {
        height: 300px;
        width: 300px;
    }
}