.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home p {
    text-align: left;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 2em;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.logo {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    max-width: 50%;
}

.about p {
    width: 95%;
}
@media (max-width: 600px) {

   .row {
       flex-direction: column;
   }

   .about {
       max-width: 90%;
   }
}

@media (min-width: 1200px) {
    .about p {
        font-size: 20px;
    }

    .about h3 {
        font-size: 36px;
    }

    .logo {
        height: 300px;
        width: 300px;
    }
}